.main-header {
    padding-bottom: $spacing;
    @extend .clearfix;
    @extend .container;
    a:not(.btn) {
        color: #fff;
    }
    nav {
        a {
            margin-left: $spacing / 2;
            &:first-child {
                margin-left: 0;
            }
        }
    }
    h1 {
        width: 136px;
        margin-right: $spacing;
        font-size: 0;
        a {
            display: inline-block;
        }
        img {
            vertical-align: middle;
        }
    }
    .main-search {
        button {
            margin-left: $spacing / 2;
        }
    }
}