<header class="main-header">
    <nav class="right">
        <a href="/" class="btn btn-white">Criar grupo</a>
        <a href="/login">Entrar</a>
    </nav>
    
    <h1 class="left">
        <a href="/">Chat App</a>
    </h1>
    
    <form class="main-search left">
        <input type="search" placeholder="Buscar grupo…" />
        <button type="submit" class="btn-icon tooltipped tooltipped-s" aria-label="Buscar">
            <img src="/public/asset/icon/bloom.svg" alt="Search">
        </button>
    </form>
</header>

