<!DOCTYPE html>  
<html>  
    <head>
        {{>head}}
    </head>
    
    <body>
        {{>header}}
        
        {{{body}}}

        <script src="/public/asset/js/main.js"></script>
    </body>
</html>