<main class="page-default">
	<div class="scroll padding-h">
		<h2>
			Busca por
            <i class="text-primary">"<span id="key-parameter">Palavra chave</span>"</i>,
			<small>30 resultados encontrados</small>
		</h2>
		<div class="group-list grid clearfix">
            <div class="group">
                <img src="/public/asset/image/group/0.jpg">
                <h3>Nome do grupo <small>(0)</small></h3>
                <a href="g/groupName"> </a>
            </div>
            <div class="group">
                <img src="/public/asset/image/group/1.jpg">
                <h3>Nome do grupo <small>(0)</small></h3>
                <a href="g/groupName"> </a>
            </div>
            <div class="group">
                <img src="/public/asset/image/group/2.jpg">
                <h3>Nome do grupo <small>(0)</small></h3>
                <a href="g/groupName"> </a>
            </div>
            <div class="group">
                <img src="/public/asset/image/group/3.jpg">
                <h3>Nome do grupo <small>(0)</small></h3>
                <a href="g/groupName"> </a>
            </div>
            <div class="group">
                <img src="/public/asset/image/group/4.jpg">
                <h3>Nome do grupo <small>(0)</small></h3>
                <a href="g/groupName"> </a>
            </div>
        </div>
        <div class="without-result">
            <h4>Bad bad server, no donnuts for you!</h4>
            <p>Não encontramos nenhum resultado para sua busca :(
        </div>
	</div>
</main>

<script src="/public/asset/js/search.js"></script>