<main class="page-default">
    <div class="scroll padding-h">
        <div class="half-column">
            <div class="form">
                <h2>Entrar com redes sociais</h2>
                <p>
                    <a href="#" class="btn btn-facebook">Facebook</a>
                    <a href="#" class="btn btn-google-plus">Google +</a>
                    <a href="#" class="btn btn-twitter">Twitter</a>
                </p>
                <h3>ou com usuário e senha</h3>
                <form>
                    <p>
                        <label>
                            Usuário <span class="text-danger">*</span>
                            <input type="text" class="block" placeholder="Nome" required />
                        </label>
                    </p>
                    <p>
                        <label>
                            Senha <span class="text-danger">*</span>
                            <input type="password" class="block" placeholder="Senha" minlength="3" maxlength="20" required />
                        </label>
                    </p>
                    <p>
                        <button type="submit" class="btn-primary block">Entrar</button>
                    </p>
                </form>
            </div>
        </div>
        <div class="half-column">
            <div class="form">
                <h2>Cadastre-se</h2>
                <form>
                    <p>
                        <label>
                            Nome de usuário <span class="text-danger">*</span>
                            <input type="text" class="block" placeholder="Nome" required />
                        </label>
                    </p>
                    <ul>
                        <li>Permitidos apenas caracteres de A-z e 0-9</li>
                        <li>Sem espaços</li>
                    </ul>
                    <p>
                        <label>
                            Senha <span class="text-danger">*</span>
                            <input type="password" class="block" placeholder="Senha" minlength="3" maxlength="20" required />
                        </label>
                    </p>
                    <ul>
                        <li>Mínimo 3 carácteres</li>
                        <li>Máximo 20 carácteres</li>
                    </ul>
                    <p>
                        <label>
                            E-mail <span class="text-danger">*</span>
                            <input type="email" class="block" placeholder="E-mail" required />
                        </label>
                    </p>
                    <p>Se você perder a senha, podemos recuperá-la por ele</p>
                    <p>
                        <button type="submit" class="btn-success block">Criar conta</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</main>