<main class="page-default">
    <div class="scroll padding-h">
        <article>
            <h2>Meus grupos</h2>
            <div class="group-list">
                <p>Para visualizar seus grupos</p>
                <p>
                    <a href="/login" class="btn btn-primary">Cadastre-se ou faça login</a>
                </p>
            </div>

            <h2>Grupos favoritos</h2>
            <div class="group-list grid clearfix">
                <div class="group">
                    <img src="/public/asset/image/group/0.jpg">
                    <h3>Nome do grupo <small>(0)</small></h3>
                    <a href="g/groupName"> </a>
                </div>
                <div class="group">
                    <img src="/public/asset/image/group/1.jpg">
                    <h3>Nome do grupo <small>(0)</small></h3>
                    <a href="g/groupName"> </a>
                </div>
                <div class="group">
                    <img src="/public/asset/image/group/2.jpg">
                    <h3>Nome do grupo <small>(0)</small></h3>
                    <a href="g/groupName"> </a>
                </div>
                <div class="group">
                    <img src="/public/asset/image/group/3.jpg">
                    <h3>Nome do grupo <small>(0)</small></h3>
                    <a href="g/groupName"> </a>
                </div>
                <div class="group">
                    <img src="/public/asset/image/group/4.jpg">
                    <h3>Nome do grupo <small>(0)</small></h3>
                    <a href="g/groupName"> </a>
                </div>
            </div>
            
            <h2>Grupos oficiais</h2>
            <div class="group-list clearfix">
                <div class="group">
                    <img src="/public/asset/image/group/0.jpg">
                    <h3>Nome do grupo <small>(0)</small></h3>
                    <a href="g/groupName"> </a>
                </div>
                <div class="group">
                    <img src="/public/asset/image/group/1.jpg">
                    <h3>Nome do grupo <small>(0)</small></h3>
                    <a href="g/groupName"> </a>
                </div>
                <div class="group">
                    <img src="/public/asset/image/group/2.jpg">
                    <h3>Nome do grupo <small>(0)</small></h3>
                    <a href="g/groupName"> </a>
                </div>
                <div class="group">
                    <img src="/public/asset/image/group/3.jpg">
                    <h3>Nome do grupo <small>(0)</small></h3>
                    <a href="g/groupName"> </a>
                </div>
                <div class="group">
                    <img src="/public/asset/image/group/4.jpg">
                    <h3>Nome do grupo <small>(0)</small></h3>
                    <a href="g/groupName"> </a>
                </div>
            </div>
        </article>
    </div>
</main>