html {
	height: 100%;
	transform-style: preserve-3d;
}
body {
	position: relative;
	top: 50%;
	margin: 0 ($spacing / 2);
	transform: translateY(-50%);
}
.container {
	max-width: $container-width;
	margin: 0 auto;
}
.half-column {
	float: left;
	width: 50%;
}
@media (max-width: $breakpoint) {
	.half-column {
		float: left;
		width: 100%;
	}
}